body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#cabecera {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 20px 0;
    display:  flex;
    height: 10vh;
}

header h1 {
    margin: 20px;
}

#main-container {
    display: flex;
}

#main{
    display: flex;
}

#menu {
    width: 250px;
    background-color: #2c3e50;
    padding: 20px;
    height: 75vh;
    float: left;
}

#menu ul {
    list-style: none;
    padding: 0;
}

#menu ul li {
    margin: 15px 0;
}

#menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

#menu ul li a:hover {
    color: #f39c12;
}
#contenido {
    flex: 1;
    padding: 20px;
    background-color: white;
    margin-left: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    float: left;
}

#contenido h2 {
    color: #000000;
    font-weight: lighter;
    background-color: #746969;
}

#contenido p {
    font-size: 16px;
    color: #555;
}

#pie {
    background-color: #4e6b88;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    clear: both;
    display:flex;
    justify-content: space-between;
}



.footer-right {
text-align: right; /* align the two lines to the right */
}

footer p {
    margin: 0;
    padding: 0 20px;
}

#logo {
    max-width: 100%;   /* never be wider than its container */
    height: auto;      /* keep the aspect ratio */
    display: block;    /* removes tiny gaps under images */
    margin: 0 0;    /* center horizontally (optional) */
    padding: 10px 0;     /* optional: space around image */
}

.subrayado {
    text-decoration: underline;
}

.tachado {
    text-decoration: line-through;
}

.negrita-marron {
    font-weight: bold;
    color: brown;
}

.celeste {
    color: rgb(42, 136, 165);
}

.markup-verde {
    background-color: #28a745;  /* Verde */
    color: white;
    padding: 0 5px;
}

.markup-amarillo {
    background-color: #f1c40f;  /* Amarillo */
    color: black;
    padding: 0 5px;
}
.markup-celeste {
    background-color: #1686b9;  /* Amarillo */
    color: black;
    padding: 0 5px;
}
